*.ali
*.exe
*.o
*.orig
*.pyc
b__conftest.ad?
auto.cgpr
autom4te.cache/
/Makefile
docs/gtkada_rm/doc_obj/
docs/gtkada_ug/_build
src/Makefile
src/gnome/Makefile
src/gtkextra/Makefile
src/opengl/Makefile
src/tools/Makefile
src/generated/tmp.ada
testgtk/Makefile
po/Makefile
b~*.ad*
config.log
config.status
shared.gpr
contrib/generated/*.ad?
contrib/generated/tmp.ada
src/Makefile.common
src/gtkada-intl.adb
src/gtkextra/obj
src/lib
src/obj
src/gnome/obj/libgnomeada-*
src/opengl/obj/libgtkada_gl-*
src/tools/gate
src/tools/obj
testgtk.exe
testgtk/obj
testgtk/opengl/view_gl.adb
testgtk/testgtk
testgtk/test_graph
testgtk/test_rtree
testgtk/testcairo
testgtk/application
testgtk/try.png
docs/gtkada_rm/gtkada_rm/
docs/gtkada_rm/html/static/index.html
docs/gtkada_ug/gtkada_ug.html
docs/gtkada_ug/gtkada_ug.info
docs/gtkada_ug/gtkada_ug.ps
docs/gtkada_ug/gtkada_ug.txt
