body
{
   background: white;
}

div#leftSide, div#leftSide div#leftSideInside
{
 background:none;
}

div#rightSide, div#rightSideInside
{
 background:#E0E0E0;
}

a:link,
a:active,
a:visited
{
   color: #0000BB;
   color: #0000BB;
}
a:hover
{
   color: red;
}

a.hide:link,
a.hide:active,
a.hide:hover,
a.hide:visited
{
color:grey;
font-size:12px;
}

h4 a.hide
{
  margin: 0 3px 0 2px;
}

div.classtree a.hide:link,
div.classtree a.hide:active,
div.classtree a.hide:hover,
div.classtree a.hide:visited
{
color:grey;
font-size:8px;
left:4px;
margin-top:3px;
margin-right:0;
position:absolute;
}

div.subprograms
{
  font-size: 100%;
}
div.subprograms .class
{
   border: none;
   margin: 10px 0px 10px 20px;
}
div.subprograms .name
{
   color: #007F62;
}
div.subprograms h3
{
   padding:2px;
   font-weight:normal;
   font-family: Courier, Courier New;
}
div.subprograms div {
   margin-left:15px;
}
div.subprograms div.details
{
   font-size:10px;
}
div.subprograms div.comment
{
   border:0px;
   font-size:10px;
   font-family: monospace;
}
div.classroot
{
   margin-bottom: 0px;
   color: #444444;
   white-space:nowrap;
   background:none;
}
div.classtree
{
   background: none;
}
div.classtreechildren
{
   background: none;
   top: 0px;
   margin: 0px 0px 0px 8px;
   padding: 0px;

}
div.classtreechildreninside
{
   background: none;
   padding: 0px 0px 0px 8px;
}
div.classroot h3,
div.classtree h3
{
   height: 15px;
   font-size: 12px;
   font-size:12px;
   margin: 0px 0px 0px 0px;
}

.droplink
{
  text-decoration:none;
  padding: 0px;
  background: none;
}


